body{
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4 {
    color: #c30e2e;
}

.navbar-default {
    background-color: #000B1B;
    border-color: #000B1B;
}

.navbar-default .navbar-brand {
    color: #c30e2e;
}

.navbar-default .navbar-nav>li>a {
    color: #d6d6d6;
}

.fibonacci_room_bottom{
    background: #e3e3e3;
    width:100%;
    min-height:80px;
    position: fixed;
    bottom:0px;
    border-top:solid 2px #000B1B;
}

.card{
    border:1px solid #000B1B;
    border-bottom:0px;
    border-top:0px;
    padding:10px;
    text-align: center;
    font-size: 20px;
    font-weight: 300;
    min-height:80px;
    transition: background-color 0.5s ease;
}

.result_score{
    text-align: center;
    padding-top:20px;
    padding-bottom:20px;
    background-color: #2aaf5f;

}
.result_score h1{
    color:#ffffff;
}

.card:hover{
    background-color: #000B1B;
    color: #fff;
    cursor: pointer;
}

.card.active{
    background-color: #2aaf5f;
    color: #fff;
}

.topics_list{
    overflow-wrap: break-word;
}

.right_nav{
    position: fixed;
    right:0px;
    float: right;
    height: 100%;
    display: block;
    background-color: #000B1B;
    color: #d6d6d6;
    font-weight:bold;
}

.right_nav ul{
    padding:0px;
    list-style: none;
    font-size: 16px;
    width:100%;
}

.right_nav li{
    transition: background-color 0.5s ease;
    width:100%;
    padding:10px;
    list-style: none;
    font-size: 16px;
    border-bottom:1px solid #e3e3e3;
    margin:0px;
}
.right_nav li:hover{
    background-color: rgba(255,255,255,0.3);
    color: #fff;
    cursor: pointer;
}

.well-fenergo{
    background-color: #000B1B;
    color: #d6d6d6;
    cursor: pointer;
}
.well-fenergo span{
    font-size: 20px;
}