body{
    font-family: 'Roboto', sans-serif;
    color: rgb(213, 210, 205);
    background-color: rgb(23, 24, 28);
}

h1, h2, h3, h4 {
    color: #33C4FF;
}
.navbar-default {
    background-color: rgb(25, 26, 30);
    border-top-color: rgb(56, 56, 56);
    border-right-color: rgb(56, 56, 56);
    border-bottom-color: rgb(56, 56, 56);
    border-left-color: rgb(56, 56, 56);
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: rgb(200, 197, 191);
    background-color: rgb(29, 31, 36);
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-top-color: rgb(56, 56, 56);
    border-right-color: rgb(56, 56, 56);
    border-bottom-color: rgb(56, 56, 56);
    border-left-color: rgb(56, 56, 56);
}
.form-control {
    color: rgb(200, 197, 191);
    background-color: rgb(23, 24, 28);
    background-image: none;
    border-top-color: rgb(61, 61, 61);
    border-right-color: rgb(61, 61, 61);
    border-bottom-color: rgb(61, 61, 61);
    border-left-color: rgb(61, 61, 61);
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px inset;
}
.btn-default{
    color: rgb(213, 210, 205);
    background-color: rgb(23, 24, 28);
    border-top-color: rgb(61, 61, 61);
    border-right-color: rgb(61, 61, 61);
    border-bottom-color: rgb(61, 61, 61);
    border-left-color: rgb(61, 61, 61);
}
.modal-content {
    background-color: rgb(23, 24, 28);
    border-top-color: rgba(102, 102, 102, 0.2);
    border-right-color: rgba(102, 102, 102, 0.2);
    border-bottom-color: rgba(102, 102, 102, 0.2);
    border-left-color: rgba(102, 102, 102, 0.2);
    box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 9px;
    outline-color: initial;
}
.panel-default {
    border-top-color: rgb(58, 58, 58);
    border-right-color: rgb(58, 58, 58);
    border-bottom-color: rgb(58, 58, 58);
    border-left-color: rgb(58, 58, 58);
}
.panel {
    background-color: rgb(23, 24, 28);
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 1px;
}
.panel-default {
    border-top-color: rgb(58, 58, 58);
    border-right-color: rgb(58, 58, 58);
    border-bottom-color: rgb(58, 58, 58);
    border-left-color: rgb(58, 58, 58);
}

.panel-default > .panel-heading {
    color: rgb(213, 210, 205);
    background-color: rgb(26, 27, 31);
    border-top-color: rgb(58, 58, 58);
    border-right-color: rgb(58, 58, 58);
    border-bottom-color: rgb(58, 58, 58);
    border-left-color: rgb(58, 58, 58);
}
.panel-title {
    color: inherit;
}
.navbar-default .navbar-nav>li>a {
    color: #d6d6d6;
}

.fibonacci_room_bottom{
    background: #e3e3e3;
    width:100%;
    min-height:80px;
    position: fixed;
    bottom:0px;
    border-top:solid 2px #000B1B;
}

.card{
    border:1px solid #000B1B;
    border-bottom:0px;
    border-top:0px;
    padding:10px;
    text-align: center;
    font-size: 20px;
    font-weight: 300;
    min-height:80px;
    transition: background-color 0.5s ease;
}

.result_score{
    text-align: center;
    padding-top:20px;
    padding-bottom:20px;
    background-color: #2aaf5f;

}
.result_score h1{
    color:#ffffff;
}

.card:hover{
    background-color: #000B1B;
    color: #fff;
    cursor: pointer;
}

.card.active{
    background-color: #2aaf5f;
    color: #fff;
}

.topics_list{
    overflow-wrap: break-word;
}

.right_nav{
    position: fixed;
    right:0px;
    float: right;
    height: 100%;
    display: block;
    background-color: #000B1B;
    color: #d6d6d6;
    font-weight:bold;
}

.right_nav ul{
    padding:0px;
    list-style: none;
    font-size: 16px;
    width:100%;
}

.right_nav li{
    transition: background-color 0.5s ease;
    width:100%;
    padding:10px;
    list-style: none;
    font-size: 16px;
    border-bottom:1px solid #e3e3e3;
    margin:0px;
}
.right_nav li:hover{
    background-color: rgba(255,255,255,0.3);
    color: #fff;
    cursor: pointer;
}

.well-fenergo{
    background-color: #000B1B;
    color: #d6d6d6;
    cursor: pointer;
}
.well-fenergo span{
    font-size: 20px;
}